.c-vino {
    color: #3c0572;
}

.c-blanco {
    color: white;
}

.navbar-nav .nav-link.active {
    color: #8011F2;
}

.link-activo {
    background-color: #8011F2;
    color: white;
    border-radius: 10px;
}

.link-activo:hover {
    color: white;
}